In [68]:
import pandas as pd

In [69]:
df=pd.read_csv("data3.csv")
df

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$10,573,990","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$10,573,990","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",0,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",0,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.replace(to_replace="Health", value="HR") #replace value Health to HR

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$10,573,990","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,HR,2009.0,"$10,573,990","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",0,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",0,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df.replace("Health","HR") #replace value Health to HR, This is shortcut

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$10,573,990","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,HR,2009.0,"$10,573,990","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",0,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",0,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df.replace(10,15) #replace integer value

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$10,573,990","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$10,573,990","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",0,18%
9,15.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",0,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df.replace([1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20]) #replace value help of list

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,11.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,12.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,13.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,14.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,15.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,16.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,17.0,Cityace,NaN,2010.0,"$10,573,990","6,249,498 Dollars",not avilable,16%
7,18.0,Kayelectronics,Health,2009.0,"$10,573,990","3,878,113 Dollars",5573830,4%
8,19.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",0,18%
9,20.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",0,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df.replace({"Companies":"Health"},"none") #replace spacific column, spacific value

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$10,573,990","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,none,2009.0,"$10,573,990","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",0,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",0,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df.replace('[A-Za-z]',0,regex=True) #replace all string value to 0

      ID  Name  Companies  Inception       Revenue  Expenses   Profit Growth
0    1.0   0.0        NaN     2009.0  $11,757,018        0.0  5274553    30%
1    2.0   0.0        0.0     2010.0  $12,329,371        0.0      NaN    20%
2    3.0   0.0        0.0     2012.0  $10,597,009        0.0  3005820     7%
3    4.0   0.0        NaN     2013.0  $14,026,934        0.0      NaN     7%
4    5.0   0.0        NaN     2009.0  $10,573,990        0.0        0     7%
5    6.0   0.0        0.0     2006.0  $13,898,119        0.0      NaN     7%
6    7.0   0.0        NaN     2010.0  $10,573,990        0.0        0    16%
7    8.0   0.0        0.0     2009.0  $10,573,990        0.0  5573830     4%
8    9.0   0.0        NaN     2011.0  $14,001,180        0.0        0    18%
9   10.0   0.0        0.0     2011.0  $11,088,336        0.0        0     7%
10   NaN   NaN        NaN        NaN           NaN       NaN      NaN    NaN

In [76]:
df.replace({'Companies':'[A-Za-z]'},0,regex=True) #replace spacific column all string value to 0

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,0.0,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,3.0,Canecorporation,0.0,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,0.0,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$10,573,990","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,0.0,2009.0,"$10,573,990","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",0,18%
9,10.0,Trantraxlax,0.0,2011.0,"$11,088,336","5,635,276 Dollars",0,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df.replace('Health', method='ffill') #replace forward value in spacific column for spacific row

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$10,573,990","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,NaN,2009.0,"$10,573,990","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",0,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",0,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:

df.replace(0, method="bfill", limit=2) #replace(0), 2 bottom value in spacific column for spacific row

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$10,573,990","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$10,573,990","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",0,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",0,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df5=pd.read_csv("data5.csv")

In [84]:
df5.replace(0, method="bfill", limit=2) #replace(0), 2 bottom value in spacific column for spacific row

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,Financial Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",3005820,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,Financial Services,2013,"$14,026,934","7,429,377 Dollars",0,7%
4,5,Techdrill,Financial Services,2009,"$10,573,990","7,435,363 Dollars",0,7%
5,6,Techline,Financial Services,2006,"$13,898,119","5,470,303 Dollars",5573830,7%
6,7,Cityace,Financial Services,2010,"$9,254,614","6,249,498 Dollars",5573830,16%
7,8,Kayelectronics,Financial Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,Financial Services,2011,"$14,001,180","3,878,113 Dollars",5453060,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%